{% extends 'base.html' %}
{% load custom_class %}



{% block content %}
{{ form.non_field_errors }}
<div class="container">
    <div class="cont-area">
        <div class="form-area">
            <form method="post">
                {% csrf_token %}
                <p>Nome</p>
                {{ form.first_name|class:'form-controls' }}
                <p>Sobrenome</p>
                {{ form.last_name|class:'form-controls' }}
                <p>CPF</p>
                {{ form.cpf|class:'form-controls' }}
                <p>Telefone</p>
                {{ form.phone|class:'form-controls' }}
                <p>Celular</p>
                {{ form.cell|class:'form-controls' }}
                <p>Endereço</p>
                {{ form.address|class:'form-controls' }}
                <p>Cidade</p>
                {{ form.city|class:'form-controls' }}
                <p>CEP</p>
                {{ form.zip_code|class:'form-controls' }}
                <p>Estado</p>
                {{ form.state|class:'form-controls' }}

                <input class="btns btn-styl btn-font edit-save" type="submit" value="Salvar" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}